*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    width: 70vw;
    height: 100vh;
    margin-top: 25px;
    
}

header{
    background-color: black;
    color: rgb(243, 186, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 30px;
}

ul li{
    display: inline-block;
    margin-left: 15px;
    text-transform: uppercase;
}

section{
    height: 80vh;
    background-color: rgb(243, 186, 29) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 25px
    
}

main .dish{
    width: 250px;
    height: 300px;
    background-color: burlywood;
    
}

.dish_image{
    width: 100%;
    height: 60%;
}

.dish_detail{
    background-color: cyan;
    height: 40%;
}

footer{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px 25px;
    margin-bottom: 25px;
}